#examPage {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

#examPage .pageHeaderWrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#examPage .pageContentWrap {
    display: grid;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    width: 100%;
}

@media screen and (min-width: 1801px) {
    #examPage .pageContentWrap {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1201px) and (max-width: 1800px) {
    #examPage .pageContentWrap {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
    #examPage .pageContentWrap {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    #examPage .pageContentWrap {
        grid-template-columns: repeat(1, 1fr);
    }
}

#examRangeComp {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1.5rem;
}

#examRangeComp .examLecuterSelectWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
}

#examRangeComp .examLecuterSelectWrap input[type="checkbox"] {
    display: none;
}

#examRangeComp .examLecuterSelectWrap input[type="checkbox"]+label {
    padding: .45rem .75rem;
    background: var(--col-0);
    border: 1px solid var(--col-input);
    border-radius: .325rem;
    color: var(--col-400);
    cursor: pointer;
}

#examRangeComp .examLecuterSelectWrap input[type="checkbox"]:checked+label {
    background: var(--col-900);
    border: 1px solid var(--col-900);
    color: var(--col-0);
}